
  * {
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
  }
  
  :root{
    --bg-color: #21201E;
    --main-color: rgba(254, 97, 9, 1);
    --2nd-main-color: #FFFCFC;
    --text-color: #FFFCFC;
    --big-font: 7rem;
    --h2-font: 1.9rem;
    --p-font: 1.1rem;
  }
  
  body{
    margin-right: auto;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-size: cover;
  }
  
  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
  }
  
  a:hover {
    color: var(--main-color);
  }
  
  /* header */
  
  header {
    top: 0px;
    width: 100%;
    background-color: #21201E;
    z-index: 1000;
}

.navbar {
    height: 149px;
    max-width: 1440px;
    margin-left: 0rem;
    background-color: #21201E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .toggle_btn{
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 250px;
  width: 300px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 210px;
  height: 105px;
  margin-left:5rem;
  align-items: center;
  margin-top: ;
}
span {
    font-weight: blod;
  }
  .navbar .links {
    margin-right: 4rem;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    margin-bottom: 20px;
    gap: 3.5rem;
  }
  .Contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: -3.5rem;
  }
  
  .contact-text {
    width: 40%;
    margin-left: 3rem;
  }
  
  .contact-form {
    position: relative;
    width: 35%;
    margin-right: 3rem;
    background-color: rgb(44, 43, 43); 
    padding: 20px; 
    border-radius: 5px; 
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #FFFCFC; 
    border-radius: 3px; 
    background-color: rgb(44, 43, 43);
    color: #fff; 
  }
  
  .contact-form textarea {
    resize: vertical; 
  }
  
  .contact-form button {
    width: 50%;
    background-color: var(--main-color); 
    color: #FFFCFC; 
    padding: 20px 35px;
    margin-left: 5rem;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
   
  }
  
  .contact-form button:hover {
    scale: 1.00;
    color: var(--bg-color);
  }
  
  .contact-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .contact-text p {
    font-size: 1em;
    color: var(--2nd-main-color);
    line-height: 1.5;
  }
  
  .contact-text h4 {
    font-size: 1em;
    font-weight: 500;
    margin:25px 0 15px 0;
  }
  
  .contact-text h4 i{
    padding: 0 0 15px 0;
  }
  
  .contact-social-links {
    align-items: center;
    margin-top: 1.5rem;
    margin-left: -1rem;
  }
  
  .contact-social-links a {
    color: #FFFCFC;
    text-decoration: none;
    padding: 20px 15px;
    font-size: 35px;
  }
  
  .contact-social-links a:hover{
    color: var(--main-color);
  }
  /* portfolio*/
  .services{
    width:1200px;
  }
  .center{
    margin: 4rem 5rem 0 5rem;
  }
  .center h2{
    font-size: 1.5rem;
  }
  .center h2 span{
    color: #FE6109;
  }
  .center p{
    margin-top: 1rem;
    color: var(--2nd-main-color);
    margin-bottom: 1rem;
  }
  .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-gap: 1rem;
    padding: 50px;
    align-items: center;
    margin:  3rem 3rem 5rem ;
}
.row{
    background:var(--bg-color);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
    box-shadow: 0px 0px 3px #D9D9D9;
}
.row i{
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.row h3{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}
.row p{
    font-size: 18px;
    color: var(--2nd-main-color);
    line-height: 20px;
}
.row:hover{
    transform: translateY(-10px);
    box-shadow: 0 0px 2px rgba(255, 133, 33, 1);
}
/*blogs */
h1{
  margin-left: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blogs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-top: -2rem;

}
.blogs-text {
  width: 50%;
  margin-left: 3rem;
}

.blogs-img {
  position: relative;
  width: 35%;
  height: 80%;
  margin-left: 3rem;
}

.blogs-img img {
  width: 95%;
  border-radius: 0%;
}
.blogs-img img:hover{
  transform: translateY(-5px);
}

.blogs-text p {
  font-size: 1em;
  color: var(--2nd-main-color);
  line-height: 1.5;
}
.blogs-text{
  background:var(--bg-color);
  padding: 60px;
  margin-bottom: rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .40s;
  box-shadow: 0px 0px 3px #D9D9D9;
}

/* about my skills */

.skills{
  margin: 2rem 0 0 5rem;
  margin-left: 6rem;
}

.skill-box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 3rem 4rem 0;
}

.skill-box {
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 0 2px #D9D9D9;
}

.skill-box:hover{
  transform: translateY(-5px);
  box-shadow: 0 0px 2
}
  footer {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    justify-content: space-between;
    align-items: left;
    color: white;
    margin-top: auto;
    line-height: 1.8rem;
    backdrop-filter: blur(2000px);
  }
  
  .social-links {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
  }
  .social-links p{
  margin-left: 25px;
  color: #D9D9D9;
}
  .social-links a:hover{
    color: var(--main-color);
  }
  
  .address p,
.copyright p,
.subscribe p {
    margin-left: 0px;
    color: #D9D9D9;
    
}

.subscribe input {
  width: 100%;
  padding: 6px 6px;
  margin-bottom: 0px;
  border: 1px solid #fff; 
  border-radius: 3px; 
  background-color: rgb(44, 43, 43);
  color: #fff; 
}

.subscribe button {
    padding: 6px;
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 0rem;
}

.subscribe button:hover {
  scale: 1.05;
  color: var(--bg-color);
}

/* media query for responsiveness */
@media only screen and (max-width: 835px) {
  /* Navbar styles */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-left: -3rem;
    margin-right: 2rem;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .navbar .logo a {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar .links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 43, 43);
    position: absolute;
    top: 70px;
    left: 0;
  }

  .navbar .links.show {
    display: flex;
  }

  .navbar .links a {
    margin: 10px 0;
  }

  .navbar #white-mode {
    margin: 10px 0;
  }
}
  @media (max-width: 835px) {
    .dropdown_menu{
      right: 6rem;
      width: unset;
    }
  }
 
/* contact me page responsiveness query */

@media only screen and (max-width: 835px) {
  .Contact {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 1rem;
  }

  .contact-text {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .contact-text h1 {
    margin-left: 1.5rem;
  }
  .contact-form {
    width: 100%;
    margin-right: 0;
  }

  .contact-form button {
    margin-left: 0;
  }
}
@media only screen and (max-width: 835px) {
  
  .services{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-right: 0;
   margin-left: -1.5rem;
  }
  .center{
    width: 80%;
    margin-left: 2.5rem;
  }
  .service-content {
    padding: 20px;
    width: 120%;
    margin: 0;
  }
  .skill-box{
    width: 80%;
  }
  .row{
    width: 80%;

  }

}
@media only screen and (max-width: 835px) {
.h1{
margin-top: 4rem;
margin-left: -4rem;
font-size: 15px;
}
  .blogs{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  
  .blogs-text{
    width:80%;
    padding: 10px;
  }

}
@media only screen and (max-width: 835px) {
  footer {
    gap: 30px;
    margin-left: -3.5rem;
  }
}